<h1>Hangman Game</h1>
<form action="/" method="post">
  <label for="letter">Enter a letter: </label>
  <input id="letter" type="text" name="letter">
  <button type="submit" class="btn btn-success">Try!</button>
</form>
<p>foodtype to try :<%= @foodtype%></p>
